# База данных
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=

# Хосты для микросервисов (имена контейнеров в Docker)
DB_HOST_MASTER=
DB_HOST_SLAVE=

# Redis
REDIS_HOST=
REDIS_PORT=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# Безопасность API
MICROSERVICE_API_KEY=